html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

div.slide {
    height: 100%;
    overflow: hidden;
}

div#home {
    background-color: #fff;
}

@-webkit-keyframes anim_fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

div#logo {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 20px auto;
    display: none;
}

div#logo.playing {
    -webkit-animation: anim_fadein 2s ease 0s 1;
}

@-webkit-keyframes star_rotation {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(180deg); }
}

div#logo img {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0px;
    left: 0px;
}

div#logo.playing .star {
    -webkit-animation: star_rotation 10s linear 0s infinite; 
}

@-webkit-keyframes logo_delay {
    from { -webkit-transform: scale(0, 0); }
    to { -webkit-transform: scale(0, 0); }
}

@-webkit-keyframes logo_zoom {
    from { -webkit-transform: scale(0, 0); }
    to { -webkit-transform: scale(1, 1); }
}

div#logo.playing .logo {
    -webkit-animation: logo_delay 2s, logo_zoom 0.5s 2s;
}

@-webkit-keyframes ribbon_delay {
    from { opacity: 0; }
    to { opacity: 0; }
}

@-webkit-keyframes ribbon_fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

div#navigation, 
div#logo.playing .ribbons {
    -webkit-animation: ribbon_delay 2.25s, ribbon_fadein 0.5s 2.25s;
}

div#navigation {
    position: fixed;
    width: 100%;
    position: fixed;
    margin: 0;
    bottom: 0;
    background-color: #666;
    z-index: 999;
    color: #fff;
    border-radius: 0;
}

div#navigation li a {
    color: #ccc;
}

div#navigation li a:hover {
    background-color: #666;
    color: #fff;
}

div#navigation li.active a {
    color: #fff;
}

div#banner {
    background: rgba(0,0,0,.7);
}

div#one {
    background-color: blue;
}

div#two {
    background-color: red;
}

div#three {
    background-color: green;
}
